<div class="container-fluid">
    <div class="row">
        <div class="col-3">
         <p class="prix">Revenu Total</p>
         <h4>450,365CFA</h4>
        </div>
        <div class="col-5">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                  </form>
                </div>
              </nav>
        </div>
        <div class="col-4">
            <ul class="icon">
                <li class="icons" ><i class='bx bx-message-dots'></i></li>
                <li class="icons" ><i class='bx bx-bell'></i></li>
                <li><img src="" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <button id="bouton1" type="button" class="btn btn-danger bigger">
              Produits <span id="button-tab" class="badge ">1067</span> 
              </button>
        </div>
        <div class="col-lg-4">
            <button id="bouton2" type="button" class="btn btn-danger bigger ">
                Nombres d'Utilisateur<span id="button-tab" class="badge">10</span>
              </button>
        </div>
        <div class="col-lg-4">
            <button id="bouton2" type="button" class="btn btn-primary bigger top-margin">
              Ventes Effectué<span id="button-tab" class="badge ">40</span>
              </button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ol class="list-group list-group">
                <li class="list-group-item">A list item</li>
                <li class="list-group-item">A list item</li>
              </ol>
              <div class="row">
                <div class="col-12">
                    <ol class="list-group list-group">
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                      </ol>
                </div>
              </div>
              
              
        </div>
        <div class="col-6">
            
        </div>
    </div>
</div>